.videoWrapper {
  position: relative;
  padding-bottom: 52.90%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  // brand colors
  --c-brand: #459e48;

  // background colors
  --c-bg: #ffffff;

  --c-text: #1c1e21;

}


html.dark {
  // brand colors
  --c-brand: #03C988;

  // background colors
  --c-bg: #1b1b1d;

}
