/* Sticky footer: https://codepen.io/chriscoyier/pen/RRbKrL */

html
  height: 100%
  
body
  height: 100vh
  display: flex
  flex-direction: column

.c1
  padding-top: 8%
  
.footer
  font: 14px Cairo;
  line-height: 16px;
  padding: 1rem 1rem 1rem;

.things
  padding: 0px
  flex: 1 0 auto;

.title
  font: 100px/0.7 Chakra Petch, arial, sans-serif;
  letter-spacing: -7px;
  text-align: right;
  vertical-align: middle;
  margin: 55px 0 0 -40px;
  white-space:nowrap;

.introtext
  font: 20px/1.25 Cairo, arial, sans-serif;
  text-align: justify;
  text-justify: inter-word

.subtitle
  font: 32px/1.2 Chakra Petch, arial, sans-serif;
  text-align: center;

.projectTitle
  font: 26px/1 Cairo, arial, sans-serif;
  font-weight: bold;

.projects
  font: 20px/1.3 Cairo, arial, sans-serif;
  text-align: justify;
  text-justify: inter-word

@media only screen and (min-width: 769px) and (max-width: 815px)
  .title
    font: 85px/0.7 Chakra Petch, arial, sans-serif;

@media only screen and (min-width: 768px)
  .column
    padding-right: 1.75rem;

@media only screen and (max-width: 420px)
  .title
    font: 65px/0.7 Chakra Petch, arial, sans-serif;
  body
    padding: 10px
  .projects
    text-align: left;
  .introtext
    text-align: left;
  .subtitle
    text-align: center;

@media only screen and (max-width: 768px)
  .introtext
    text-align: left;
  .subtitle
    text-align: center;
  .title
    text-align: center;
  #container
    float: left;
  body
    padding: 25px;