footer
  font: 14px/0.7 Fantasque Sans Mono;

.title
  font: 100px/0.7 Chakra Petch, arial, sans-serif;
  letter-spacing: -7px;

.subtitle
  font: 26px/1 Chakra Petch, arial, sans-serif;

.introtext
  font: 20px/1.1 Fantasque Sans Mono, arial, sans-serif;

.projectTitle
  font: 26px/1 Fantasque Sans Mono, arial, sans-serif;
  font-weight: bold;

.projects
  font: 20px/1 Fantasque Sans Mono, arial, sans-serif;
